<%= form_for(event, html: { id: 'event_form' }) do |f| %>
  <div class="form-group">
    <select name="event[event_type_id]" id="event_event_type_id" class="form-control" required>
      <option value="">Seleccione un tipo de event</option>
      <% EventType.order(:name).each do |event_type| %>
        <option value="<%= event_type.id %>"><%= event_type.name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label>Título *</label>
    <%= f.text_field 'title', class: 'form-control', placeholder: '', required: true %>
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <%= f.text_area 'description', rows: 3, class: 'form-control', placeholder: '', required: false %>
  </div>
  <div class="form-group">
    <label>Fecha y hora de inicio *</label><br>
    <%= f.text_field 'starts_at', class: 'form-control', placeholder: '', required: true, readonly: false %>
  </div>
  <div class="form-group">
    <label>Fecha y hora de finalización*</label><br>
    <%= f.text_field 'ends_at', class: 'form-control', placeholder: '', required: true, readonly: false %>
  </div>
  <div class="form-group">
    <label>Encargado *</label>
    <%= f.select 'assigned_to_id', options_for_select(User.all.pluck(:first_name, :id)), {}, {class: 'form-control'} %>
  </div>
  <div class="text-inverse">
    <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">Cancelar</button>
    <button class="btn btn-space btn-primary" type="submit" id="btn-save-event">Guardar</button>
  </div>
<% end %>